button{
	margin: 10px;
	padding: 10px;
	color:#195070;
	font-size: 30px;
	background:#202020;
}
button:hover,a:hover{
	color: #202020;
	background: #195070;
}
a{
	text-decoration:none;
	color: #195070; 
}
body{
	margin-top:100px; 
	background: #202020;
	color:white;
	text-align: center;
	font-family: comic sans ms;
}
h1{
	text-align: center;
}
